@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;

  --color--primary: #d9596a;
  --color--black: #201f1d;
  --color--black-48: hsla(0, 0%, 0%, 0.48);
  --color--black-36: hsla(0, 0%, 0%, 0.36);
  --color--black-24: hsla(0, 0%, 0%, 0.24);
  --color--black-12: hsla(0, 0%, 0%, 0.12);
  --color--black-04: hsla(0, 0%, 0%, 0.04);
  --color--white: #ffffff;
  --color--white-48: hsla(0, 0%, 100%, 0.48);
  --color--white-36: hsla(0, 0%, 100%, 0.36);
  --color--white-24: hsla(0, 0%, 100%, 0.24);
  --color--white-12: hsla(0, 0%, 100%, 0.12);
  --color--white-04: hsla(0, 0%, 100%, 0.04);

  --font-size--display: clamp(3.625rem, 5vw, 5vw);
  --font-size--headline: clamp(2.5rem, 3.6vw, 3.6vw);
  --font-size--title: clamp(2rem, 2.2vw, 2.2vw);
  --font-size--subtitle: clamp(1.25rem, 1.4vw, 1.4vw);
  --font-size--body: clamp(1rem, 1vw, 1vw);
  --font-size--label: clamp(0.875rem, 0.9vw, 0.9rem);

  --space--16: clamp(0.5rem, 0.2857rem + 0.7143vw, 1rem);
  --space--24: clamp(1rem, 0.7857rem + 0.7143vw, 1.5rem);
  --space--32: clamp(1.5rem, 1.2857rem + 0.7143vw, 2rem);
  --space--48: clamp(2rem, 1.5714rem + 1.4286vw, 3rem);
  --space--64: clamp(3rem, 2.5714rem + 1.4286vw, 4rem);
  --space--96: clamp(4rem, 3.1429rem + 2.8571vw, 6rem);
  --space--144: clamp(6rem, 4.7143rem + 4.2857vw, 9rem);

  --space--global--inline: 6%;
  --space--global--block: clamp(1rem, 0.5714rem + 1.4286vw, 2rem);

  --height--hero: calc(100vh - var(--space--global--block) * 2 - 6rem);
}
