@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;

  --primary: #d9596a;
  --black: #201f1d;
  --black-48: hsla(0, 0%, 0%, 0.48);
  --black-36: hsla(0, 0%, 0%, 0.36);
  --black-24: hsla(0, 0%, 0%, 0.24);
  --black-12: hsla(0, 0%, 0%, 0.12);
  --black-04: hsla(0, 0%, 0%, 0.04);
  --white: #ffffff;
  --white-48: hsla(0, 0%, 100%, 0.48);
  --white-36: hsla(0, 0%, 100%, 0.36);
  --white-24: hsla(0, 0%, 100%, 0.24);
  --white-12: hsla(0, 0%, 100%, 0.12);
  --white-04: hsla(0, 0%, 100%, 0.04);
}
